form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 2.4rem;
  gap: 0.8rem;

  input {
    height: 5rem;
    // border-radius: 0.8rem;
    padding: 0 1.6rem;
    border: none;

    background-color: #fff;
    border-bottom: 0.1rem solid #a8a8b3;
  }

  textarea {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #fefefe;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.04);
    resize: vertical;
    min-height: 130px;
    border-bottom: 0.1rem solid #a8a8b3;
  }

  button {
    width: 40rem;
    height: 5.8rem;
    border-radius: 0.8rem;
    font-weight: 500;
    background-color: #835afd;
    color: #fff;
    padding: 0 3.2rem;
    margin: 0 auto;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media (max-width: 600px) {
  form {
    button {
      width: 20rem;
    }
  }
}
